.user_avatar{
    background-color: aqua;
}
.logoutBtn{
    padding: 10px 15px;
    background-color: rgb(219, 28, 28);
    border: none;
    border-radius: 12px;
    color: white;
}
@media (max-width: 540px) {

 .user_avatar{
  display: none !important;
 }
}

@media (max-width: 375px) {
  .logoutBtn {
    /* font-size: 10px; */
    /* padding: 0px 0px; */
    width: 90px !important;
   
}
.button_holder{
   padding: 15px  !important;
}

}