.toggle_btn{
  display: none;
}
@media (max-width: 768px) {
  .toggle_btn{
  display: block
  }
 
}

.bg_gredient {
  background: linear-gradient(#4d215d 10%,  #fd7e14);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: visible;
  /* allow child (.board) scrollbars to show */
}

.w_90{
  width: 90%;
}
.border_main{
  border: #fd7e14 2px solid;
}
.tableWrapper {
  width: 100%;
  overflow-x: auto;
}
/* ------------------------- input size responsive ---------- */
@media (max-width: 576px) {
  .input_size_responsive{
    width: 100% !important;
  }
 
}
.deleteCheckHolder{
  background-color: rgba(0,0,0,0.2);
}